<div class="main">
  <div class="wrapper">
    <div class="container">
      <div class="title-group">
        <h1>問</h1>
        <h1>卷</h1>
        <h1>調</h1>
        <h1>查</h1>
      </div>

      <div class="form-group">
        <div class="grid">
          <div class="col-12">
            <h3>故事1:</h3>
            <h3>感受到微風撫過臉龐，你睜開了眼。啊，不小心睡著了。</h3>
            <h3>眼前一片雪白讓你嚇了一跳，這是哪裡？</h3>
            <br />
            <h3>問題1:</h3>
            <h3>
              往前走了幾步，你發現那片純淨的白色原來是稀薄的雲霧，你正在一座不知名的山頂上。
            </h3>
            <h3>
              一陣強風來襲，本來籠罩著你的雲霧被吹散，這時你突然發現幾尺外的樹後，有一隻雪白的狐狸，這時你選擇...
            </h3>
            <div style="margin-top: 10px"></div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num"
                value="1"
                [(ngModel)]="num"
                inputId="city1"
              ></p-radioButton>
              <label for="city1">A. 追過去看看</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num"
                value="2"
                [(ngModel)]="num"
                inputId="city2"
              ></p-radioButton>
              <label for="city2">B. 怕有危險，不要隨意靠近 </label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num"
                value="3"
                [(ngModel)]="num"
                inputId="city3"
              ></p-radioButton>
              <label for="city3">C. 呼喚牠看看</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num"
                value="4"
                [(ngModel)]="num"
                inputId="city4"
              ></p-radioButton>
              <label for="city4">D. 不在乎，繞開走就好</label>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <h3>故事2:</h3>
            <h3>
              走到半山腰，你看見一個湖泊。湖面映照著天光月色，美妙的景色讓你情不自禁的走向前。
            </h3>
            <h3>
              接著你看到湖邊坐著一個老翁，他拿著一隻奇怪的釣竿，旁邊放著一桶水，卻什麼也沒釣到的樣子。
            </h3>
            <br />
            <h3>問題2:</h3>
            <h3>
              你克制不住心中的好奇，上前一探究竟，卻發現原來他不是在釣魚，而是...
            </h3>
            <div style="margin-top: 10px"></div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num2"
                value="1"
                [(ngModel)]="num2"
              ></p-radioButton>
              <label>A. 在釣一堆發光的白色毛球</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num2"
                value="2"
                [(ngModel)]="num2"
              ></p-radioButton>
              <label>B. 在和一條人魚玩釣魚線</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num2"
                value="3"
                [(ngModel)]="num2"
              ></p-radioButton>
              <label>C. 在釣湖底的花</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num2"
                value="4"
                [(ngModel)]="num2"
              ></p-radioButton>
              <label>D. 只是在看水</label>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <h3>故事3:</h3>
            <h3>
              你們暢聊許久，要離開湖邊時，他想送你一個特殊的禮物，你低頭一看，居然是各式各樣的華麗琉璃珠！
            </h3>
            <br />
            <h3>問題3:</h3>
            <h3>深思熟慮後，你決定選擇...</h3>

            <div style="margin-top: 10px"></div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num3"
                value="1"
                [(ngModel)]="num3"
              ></p-radioButton>
              <label>A. 流轉著流光的琉璃扇</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num3"
                value="2"
                [(ngModel)]="num3"
              ></p-radioButton>
              <label>B. 動物造型的琉璃珠</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num3"
                value="3"
                [(ngModel)]="num3"
              ></p-radioButton>
              <label>C. 可以戴在手指上的琉璃戒指</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num3"
                value="4"
                [(ngModel)]="num3"
              ></p-radioButton>
              <label>D. 琉璃打造的寶劍</label>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <h3>問題4:</h3>
            <h3>
              終於快要走到山腳下，你看到了一棟佇立於瀑布之下的房屋，依直覺，你覺得它長得…
            </h3>
            <div style="margin-top: 10px"></div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num4"
                value="1"
                [(ngModel)]="num4"
              ></p-radioButton>
              <label>A. 只是一間普通的小木屋</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num4"
                value="2"
                [(ngModel)]="num4"
              ></p-radioButton>
              <label>B. 用玻璃打造的全玻璃房屋 </label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num4"
                value="3"
                [(ngModel)]="num4"
              ></p-radioButton>
              <label>C. 像是古老英格蘭莊園的城堡式建築</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num4"
                value="4"
                [(ngModel)]="num4"
              ></p-radioButton>
              <label>D. 金屬製造的堅硬堡壘</label>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12">
            <h3>故事5:</h3>
            <h3>把房子逛了一圈後，你走到了頂樓的平台。</h3>
            <h3>徐徐的晚風吹亂了你的頭髮，正當想離開頂樓時，</h3>
            <h3>
              卻發現通往樓梯的門變成一個隧道，隧道的門口寫著：「風把你領來，也將把你帶走...」
            </h3>
            <br />
            <h3>問題5:</h3>
            <h3>依照你的想像，這個隧道的外貌像是...</h3>
            <div style="margin-top: 10px"></div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num5"
                value="1"
                [(ngModel)]="num5"
              ></p-radioButton>
              <label>A. 黑得不見五指的黑洞，偶爾傳來一些嘶嘶聲</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num5"
                value="2"
                [(ngModel)]="num5"
              ></p-radioButton>
              <label>B. 有七彩光芒從隧道裡照射出來</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num5"
                value="3"
                [(ngModel)]="num5"
              ></p-radioButton>
              <label>C. 有陣陣強風從隧道裡吹來</label>
            </div>
            <div class="field-radiobutton">
              <p-radioButton
                name="num5"
                value="4"
                [(ngModel)]="num5"
              ></p-radioButton>
              <label>D. 看進去白茫茫一片，安靜的一個洞</label>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group">
        <p-button class="btn" label="送出" (click)="submit()"></p-button>
      </div>
    </div>
  </div>
</div>
