.form-group {
  p-button {
    width: 100%;
    margin-top: 15px;

    > .p-button-help {
      width: 100% !important;

      span {
        text-align: left;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
  }
}
