.form-group {
  padding: 10px 0;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }

  .grid {
    margin: 0;
    padding: 0 15px;
    // border-bottom: 1px dashed;

    > * {
      margin-bottom: 10px;

      > h3 {
        margin: 0;
        color: #4c4948;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
  }

  .field-radiobutton > label {
    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
}
