.form-group {
  padding: 10px 0;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }

  > h3,
  h4 {
    margin-top: 0;

    span {
      color: red;
    }
  }

  .grid {
    margin: 0;
    padding: 0 15px;
    border-bottom: 1px dashed;

    &:nth-of-type(5){
      border-bottom: none;
    }

    > * {
      margin-bottom: 10px;

      > h3 {
        margin: 0;
      }
    }
  }
}
