// .p-button:enabled {
//   background-color: $btn-color;
//   border-color: $btn-color;

//   &:hover {
//     background-color: darken($btn-color, 10%) !important;
//     border-color: darken($btn-color, 10%) !important;
//   }
// }

// checkbox
.p-checkbox {
  &.p-checkbox-checked {
    .p-checkbox-box {
      background-color: $main-color;
      border-color: $main-color;
    }
  }

  &:not(.p-checkbox-disabled) {
    .p-checkbox-box {
      &.p-focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 186, 38, 0.5);
        border-color: $main-color;
      }

      &.p-highlight {
        &:hover {
          background-color: $main-color;
          border-color: $main-color;
        }
      }
    }
  }
}

// .float-label
.p-float-label {
  label {
    span {
      font-weight: bold;
      color: red;
    }
  }
}

// listbox 的右側新增表單
.list-form-group {
  margin-top: calc((1.33 * 2 * 16px));

  >* {
    margin-bottom: 15px !important;
  }

  .list-form-btn-group {
    display: flex;

    >* {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.form-group {
  padding: 10px 0;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }

  >h3,
  h4 {
    margin-top: 0;

    span {
      color: red;
    }
  }

  .p-tabview-panels {
    padding: 0 !important;
  }

  // 註冊/登入/other
  .grid {
    margin-bottom: 10px;

    >* {
      margin-bottom: 10px;

      // 會員管理視窗
      >h3 {
        margin: 0;
      }
    }
  }

  // 訂購餐點視窗
  .p-field {
    margin-bottom: 25px;
  }

  // 新增店家 分量管理
  .input-group {
    margin-top: 20px;
  }

  >* {
    margin-bottom: 25px;
  }
}

// login and register form

.login-wrapper {
  width: 100%;
  min-height: calc(100vh - $footer-Height);
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(xs) {
    min-height: calc(100vh - $footer-Height-md);
  }

  .login-box-group {
    min-width: 450px;

    @include media-breakpoint-down(md) {
      padding: 15px 20px;
    }

    .login-steps {
      margin-bottom: 30px;
      padding: 40px 30px 20px;
      border-radius: 8px;
      border: 1px solid #dadce0;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(sx) {
        padding: 20px;
      }

      @include media-breakpoint-down(md) {
        padding: 15px;
        min-height: auto;
      }
    }

    .login-box {
      padding: 48px 40px 36px;
      max-width: 450px;
      min-height: 500px;
      border-radius: 8px;
      border: 1px solid #dadce0;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(sx) {
        padding: 20px;
      }

      @include media-breakpoint-down(md) {
        padding: 15px;
        min-height: auto;
      }

      .change-login-page {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #dadce0;
        padding: 5px;

        &:after {
          color: #f59e0b;
        }
      }

      .login-logo {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(md) {
          margin-bottom: 10px;
        }

        img {
          margin-right: 15px;
          height: 50px;
        }

        .login-title {
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            margin-bottom: 5px;
            font-size: 25px;
            line-height: 30px;
            font-weight: bold;
            color: $main-color;
          }

          sub {
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 1px;
            color: $main-color;
          }
        }
      }

      .form-group {
        margin-top: 24px;

        .col-12 {
          margin-bottom: 10px;
        }

        @include media-breakpoint-down(sx) {
          margin-top: 15px;
          padding: 10px;
        }

        @include media-breakpoint-down(md) {
          margin-top: 5px;
          padding: 0;
        }

        form {
          display: flex;
          flex-direction: column;
        }

        input {
          // width: 100%;
        }

        .login-btn-group {
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @include media-breakpoint-down(sx) {
            margin-top: 30px;
          }

          @include media-breakpoint-down(md) {
            margin: 0;
          }

          a {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 10px;
            height: 36px;
            font-size: 15px;
            color: $main-color;
            border-radius: 4px;
            transition: color 0.2s, background-color 0.2s;

            &:hover {
              color: #174ea6;
              background-color: #f8fafe;
            }

            &.btn {
              font-size: 14px;
              padding: 0 24px;
              background-color: $main-color;
              color: #fff;

              &:hover {
                background-color: #185abc;
              }
            }
          }

          .login-text-box {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-breakpoint-down(md) {
              margin-top: 5px;
            }
          }
        }
      }
    }

    footer {
      padding-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .language-select-group {
        padding: 8px 0;
        color: #202124;
        font-size: 12px;
        line-height: 1.4;

        span {
          display: flex;
          align-items: center;

          mat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
          }
        }
      }

      .description-group {
        display: flex;
        align-items: center;

        a {
          border-radius: 2px;
          color: #757575;
          font-size: 12px;
          line-height: 1.4;
          display: inline-block;
          padding: 6px 16px;
          transition: background-color 0.2s;

          &:focus {
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}

:host ::ng-deep {

  // placeholder
  .mat-input-element {
    color: #202124;
    font-size: 17px;
  }

  .mat-form-field-flex {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Border */
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $main-color;
  }

  .mat-form-field {
    &.mat-focused {
      .mat-form-field-label {
        color: $main-color;
      }
    }
  }

  mat-label {
    font-size: 17px;
    font-weight: 400;
  }
}
