<div class="main">
  <header>
    <div class="main-header">
      <p>臺</p>
      <p>北</p>
      <p>科</p>
      <p>技</p>
      <p>大</p>
      <p>學</p>
      <p>工</p>
      <p>業</p>
      <p>設</p>
      <p>計</p>
      <p>系</p>
    </div>

    <div class="sub-header">
      <h3>108級</h3>
      <h3>畢業展</h3>
    </div>
  </header>
  <div class="wrapper">
    <div class="container">
      <div class="logo-img">
        <img src="../../../assets/img/ntut_icon_black.png" />
      </div>

      <div class="content-text">
        <img src="../../../assets/img/content_text.png" />
        <img class="info" src="../../../assets/img/info_title1.png" />
      </div>

      <!-- <div class="info_box">
        <div class="info_header">
          <i class="pi pi-times"></i>
        </div>
        <div class="info_title">
          <p>風來了，我們能否隨著風飛得更遠?</p>
          <p>風意味著一種交流，</p>
          <p>如同冷暖輕重的分子，交流匯聚成我們。</p>
          <p>此時，這股風的流動趨於靜止，</p>
          <p>而新的氣流即將產生，朝向更廣闊的未來。</p>
          <p>只要風存在，交流便永不止息</p>
        </div>
        <img src="../../../assets/img/info_title.png" />
      </div> -->
    </div>
  </div>
  <footer>
    <p>NATIONAL</p>
    <p>TAIPEI</p>
    <p>UNIVERSITY</p>
    <p>OF</p>
    <p>TECHNOLOGY</p>
  </footer>
</div>
