@import "/src/scss/custom";

*p {
  font-size: 24px;
  color: grey;
  font-weight: 500;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-header {
    padding-bottom: 15px;
  }

  .sub-header {
    > h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }
}

.logo-img {
  img {
    width: 380px;
    height: 150px;

    @include media-breakpoint-down(xs) {
      width: 200px;
      height: 80px;
    }
  }
}

.content-text {
  display: flex;
  justify-content: space-around;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }

  img {
    height: 350px;

    &:nth-of-type(2) {
      height: 750px;

      @include media-breakpoint-down(xs) {
        height: 320px;
      }
    }

    @include media-breakpoint-down(xs) {
      height: 120px;
    }
  }

  .info {
    margin-top: 100px;

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
    }
  }
}

.start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;

  a {
    background-image: url("../../../assets/img/start.png");
    height: 150px;
    width: 400px;
    transition: 0.5s ease;

    &:hover {
      background-image: url("../../../assets/img/start_hover.png");
    }

    @include media-breakpoint-down(xs) {
      height: 75px;
      width: 200px;
      background-size: 200px 75px;
    }
  }

  #start {
    height: 150px;
    width: 400px;
    background: transparent;
    background-image: url("../../../assets/img/start.png");
    &:hover {
      background-image: url("../../../assets/img/start_hover.png");
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    font-size: 18px;
    font-weight: 400;

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }
}
