<div class="main">
  <header>
    <div class="main-header">
      <p>臺</p>
      <p>北</p>
      <p>科</p>
      <p>技</p>
      <p>大</p>
      <p>學</p>
      <p>工</p>
      <p>業</p>
      <p>設</p>
      <p>計</p>
      <p>系</p>
    </div>

    <div class="sub-header">
      <h3>108級</h3>
      <h3>畢業展</h3>
    </div>
  </header>
  <div class="wrapper">
    <div class="container">
      <div class="logo-img">
        <img src="../../../assets/img/ntut_icon_black.png" />
      </div>

      <div class="content-text">
        <img src="../../../assets/img/content_text.png" />
        <img class="info" src="../../../assets/img/info_title1.png" />
      </div>

      <div class="start-btn">
        <img src="../../../assets/img/start.png" />
      </div>
    </div>
  </div>
  <footer>
    <p>NATIONAL</p>
    <p>TAIPEI</p>
    <p>UNIVERSITY</p>
    <p>OF</p>
    <p>TECHNOLOGY</p>
  </footer>
</div>
