::ng-deep {
}

.p-calendar {
  .p-datepicker {
    table {
      td {
        padding: 4px;

        > span {
          width: 25px;
          height: 25px;
        }
      }
    }

    .p-timepicker {
      padding: 5px;

      span {
        font-size: 16px;
      }

      button {
        width: 25px;
        height: 25px;
      }
    }
  }

  .p-datepicker-touch-ui {
    transform: translate(-50%) !important;
    top: 50px !important;
    min-width: 100% !important;
    position: absolute !important;
  }
}
