::ng-deep {
  .p-dialog {
    .p-dialog-header {
      @include media-breakpoint-down(md) {
        padding: 10px;
      }
    }

    .p-dialog-content {
      @include media-breakpoint-down(md) {
        padding: 0 10px 10px 10px;
      }
    }

    .p-dialog-footer {
      .p-confirm-dialog-reject {
        background-color: #64748b;
      }

      .p-confirm-dialog-accept {
        background-color: #ef4444;
      }

      @include media-breakpoint-down(md) {
        padding: 0 10px 15px 10px;
      }
    }

    .drop-selection {
      margin-bottom: 10px;
    }
  }
}
