::ng-deep {
  .p-inputtext {
    font-size: 18px;
  }

  .p-float-label {
    label {
      font-size: 16px;
    }

    input.p-filled ~ label {
      font-size: 16px;
    }

    input:focus ~ label {
      font-size: 16px;
    }

    .p-inputwrapper-filled ~ label {
      font-size: 16px;
    }

    .p-inputwrapper-focus ~ label {
      font-size: 16px;
    }
  }
}
