::ng-deep {
  .p-tabview-nav {
    justify-content: space-around;
  }
  .p-highlight {
    .p-tabview-nav-link {
      color: $main-color !important;
      border-color: $main-color !important;
    }
  }
  .p-tabview-panel {
    margin-top: 30px;
  }
}
