@import "/src/scss/custom";

.container {
  padding: 150px 20px !important;

  @include media-breakpoint-down(sm) {
    padding: 65px 20px !important;
  }
}

.result-page {
  background-size: 100% auto;
  height: 100%;
}

.result-page-A {
  background-image: url("../../../assets/img/result/A/a_background.png");
}

.result-page-B {
  background-image: url("../../../assets/img/result/A/a_background.png");
}

.result-page-C {
  background-image: url("../../../assets/img/result/C/c_background.png");
}

.result-page-D {
  background-image: url("../../../assets/img/result/D/d_background.png");
}

.result-page-E {
  background-image: url("../../../assets/img/result/E/a_b_background.png");
}

.result-page-F {
  background-image: url("../../../assets/img/result/F/a_c_background.png");
}

.result-page-G {
  background-image: url("../../../assets/img/result/G/a_d_background.png");
}

.result-page-H {
  background-image: url("../../../assets/img/result/H/b_c_background.png");
}

.result-page-I {
  background-image: url("../../../assets/img/result/I/b_d_background.png");
}

.result-page-J {
  background-image: url("../../../assets/img/result/J/c_d_background.png");
}

.ntut-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 380px;
    height: 150px;

    @include media-breakpoint-down(sm) {
      width: 200px;
      height: 80px;
    }
  }
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    padding: 180px 110px 90px 110px;
    background-size: 100% 100%;
    width: 750px;
    height: 950px;

    @include media-breakpoint-down(sm) {
      width: 350px;
      height: 500px;
      padding: 100px 65px 40px 65px;
    }

    span {
      color: #754c24;
      display: flex;
    }

    .content-title {
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    .content-start {
      font-size: 22px;
      margin: 25px 20px 0 20px;
      line-height: 2;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.8;
      }
    }

    .content {
      font-size: 22px;
      margin: 0 20px 50px 20px;
      line-height: 2;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.8;
        margin-bottom: 30px;
      }
    }

    .result-text {
      font-size: 24px;
      font-weight: bold;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    .wind-type {
      display: flex;
      align-items: center;
      justify-content: space-around;

      img{
        width: 240px;
        margin: 0;
      }
    }

    .bottom-text {
      justify-content: center;
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }

  .content-box-A {
    background-image: url("../../../assets/img/result/A/a_mid.png");
  }

  .content-box-B {
    background-image: url("../../../assets/img/result/B/b_mid.png");
  }

  .content-box-C {
    background-image: url("../../../assets/img/result/C/c_mid.png");
  }

  .content-box-D {
    background-image: url("../../../assets/img/result/D/d_mid.png");
  }

  .content-box-E {
    background-image: url("../../../assets/img/result/E/result_content.png");
  }

  .content-box-F {
    background-image: url("../../../assets/img/result/F/a_c_mid.png");
  }

  .content-box-G {
    background-image: url("../../../assets/img/result/G/a_d_mid.png");
  }

  .content-box-H {
    background-image: url("../../../assets/img/result/H/b_c_mid.png");
  }

  .content-box-I {
    background-image: url("../../../assets/img/result/I/b_d_mid.png");
  }

  .content-box-J {
    background-image: url("../../../assets/img/result/J/c_d_mid.png");
  }

  img {
    width: 250px;
    margin-left: -250px;
    margin-bottom: -965px;

    @include media-breakpoint-down(sm) {
      width: 120px;
      margin-left: -120px;
      margin-bottom: -500px;
    }
  }
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 0 35%;

  @include media-breakpoint-down(x) {
    margin: 0 30%;
  }

  @include media-breakpoint-down(lg) {
    margin: 0 22%;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 32%;
  }

  @include media-breakpoint-down(xs) {
    margin: 0 40px;
  }

  img {
    width: 80px;
    height: 80px;

    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
    }
  }
}
